<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <strong><li class="nav-item"><a class="nav-link" href="">Home</a></li></strong>
    <strong><li class="nav-item"><a class="nav-link" href="/proyectos">Proyectos</a></li></strong>
    <strong><li class="nav-item"><a class="nav-link" href="/quienes">Quienes somos</a></li></strong>
    <strong><li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li></strong>
  </ul>
</nav>
<router-outlet></router-outlet>
